@font-face {
    font-family: 'moneygraphy';
    src: url('./font/Moneygraphy-Rounded.ttf') format('truetype');
}

body {
    position: relative;
    font-family: 'moneygraphy'!important;
    margin: 0;
    padding: 0;
    background-color: #372554!important;
    /* 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
body *{
    color: #FFF!important;
}
.link-text {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.link-text:hover {
    color: #f1c40f!important;
}

/* 페이지 전환효과 */
@keyframes page {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}

/* 도구 툴 효과 */
@keyframes page-tool {
    0% {
        padding: 0.3rem;
    }
    30% {
        padding: 0.6rem;
    }
    100% {
        padding: 0.4rem;
    }
}
.page-tool {
    margin-bottom: 2rem;
    margin-left: auto;
    border-radius: 50%;
    background-color: #fff;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: padding 0.2s ease-in-out;
}
.page-tool.active {
    animation: page-tool 0.1s ease-in-out;
}
.tool-box {
    padding: 3rem;
    border-radius: 12px;
    background-color: #FFF;

}
.page-tool-container {
    right: 1rem;
    bottom: 1rem;
}
/* 페이지 1 */
.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: opacity 1s ease-in-out;
    animation: page 1s ease-in-out;
    opacity: 0;
}
.pages.active {
    opacity: 1;
}
