.portfolio-container {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.section1,.section2 {
    display: none;
}

.section1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
}
.section1 .section1-img-box {
    position: relative;
    opacity: 0;
    animation-duration: 0.7s;
}
.section1-img-box img {
    width: 100%;
}

@keyframes dropDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.explain-box {
    position: absolute;
    width: 95%;
    height: 90%;
    right: 18px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 4px;
    opacity: 0;
    animation-duration: 1s;
}
.section1-img-box.img-2 .explain-box {
    width: 60%;
}
.explain-box div {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #fff;
    padding: 4px;
    padding-left: 8px;
    border-radius: 14px;
}
.section1-img-box.box-4 {
    width: 100%;
    height: 200px;
    padding: 0 4px;
}
.section1-img-box.box-4 .tech-box {
    border-radius: 12px;
    background-color: #82e3ff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 1rem 2.8rem;
}

.view-more {
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 12px;
    padding: 0.5rem 2rem;
    width: fit-content;
    background-color: #3a4af4;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 0.4rem;
    opacity: 0;
    animation-duration: 0.7s;
    text-decoration: none;
}
.view-more:hover {
    background-color: #6a76fb;
}
@media (max-width:424px) {
    .explain-box div {
        font-size: 6px;
    }
    .explain-box {
        position: inherit;
        margin-left: auto;
    }
}

@media (max-width: 768px) {
    .explain-box div {
        font-size: 8px;
    }
}
